<!DOCTYPE HTML>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% import 'header.html' as header %}
    <div>
      <div class='index'>
        <h1>Recording Configuration</h1>
        <div class='record_options'>
          <form>
          <table>
            <tr>
                    <td>
                    <input type="radio" id="All" name="device" value="all" checked>
                    <label for="All">All</label><br>
                    </td>
                    <td>
                    <input type="radio" id="CSI" name="device" value="csi">
                    <label for="CSI">CSI</label><br>
                    </td>
                    <td>
                    <input type="radio" id="ZED" name="device" value="zed">
                    <label for="ZED">ZED</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button type="submit" formaction="/record" method="get">Record</button>
                    </td>
                    <td>
                      <button type="submit" formaction="/pause" method="get">Pause</button>
                    </td>
                    <td>
                      <button type="submit" formaction="/stop" method="get">Stop</button>
                    </td>
                  </tr>
                </table>
              </form>
        </div>
        <div class='current_status'>
          <table>
          <tr>
          <td>
          {% if state.zedstop %}
            ZED Camera is currently <b>NOT RECORDING</b>.
          {% elif state.zedpaused %}
            ZED Camera is currently <b>PAUSED</b>.
          {% else %}
            ZED Camera is currently <b>RECORDING</b>.
          {% endif %}
          </td>
          </tr>
          <tr>
          <td>
          {% if state.csistop %}
            CSI Camera is currently <b>NOT RECORDING</b>.
          {% elif state.csipaused %}
            CSI Camera is currently <b>PAUSED</b>.
          {% else %}
            CSI Camera is currently <b>RECORDING</b>.
          {% endif %}
          </td>
          </tr>
          <tr>
            <td>
              <a href="ls">Download Recordings</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="documentation">Documentation</a>
            </td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
