<!DOCTYPE HTML>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% import 'header.html' as header %}
    <div>
      <div class='index'>
        <h1>Recording Configuration</h1>
        <div class='record_options'>
          <form>
            <table>
                <tr>
                    <td>
                    <input type="radio" id="All" name="device" value="all">
                    <label for="All">All</label><br>
                    </td>
                    <td>
                    <input type="radio" id="CSI" name="device" value="csi">
                    <label for="CSI">CSI</label><br>
                    </td>
                    <td>
                    <input type="radio" id="ZED" name="device" value="zed" checked>
                    <label for="ZED">ZED</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class='btn btn-lg btn-success' type="submit" formaction="/record">Record</button>
                    </td>
                    <td>
                        <button class='btn btn-lg btn-success' type="submit" formaction="/pause">Pause</button>
                    </td>
                    <td>
                        <button class='btn btn-lg btn-danger' type="submit" formaction="/stop">Stop</button>
                    </td>
                </tr>
            </table>
          </form>
        </div>
        <div class='current_status'>
          <table>
          <tr>
          <td>
          {% if state.zedstop %}
            ZED Camera is currently <b>NOT RECORDING</b>.
          {% elif state.zedpaused %}
            ZED Camera is currently <b>PAUSED</b>.
          {% else %}
            ZED Camera is currently <b>RECORDING</b>.
          {% endif %}
          </td>
          </tr>
          <tr>
          <td>
          {% if state.csistop %}
            CSI Camera is currently <b>NOT RECORDING</b>.
          {% elif state.csipaused %}
            CSI Camera is currently <b>PAUSED</b>.
          {% else %}
            CSI Camera is currently <b>RECORDING</b>.
          {% endif %}
          </td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
