<!DOCTYPE HTML>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% import 'header.html' as header %}
    <div>
      <div class='index'>
        <h1>Recording Configuration</h1>
        <div class='record_options'>
          <form>
            <table>
                <tr>
                    <td>
                    <input type="radio" id="All" name="device" value="all">
                    <label for="All">All</label><br>
                    </td>
                    <td>
                    <input type="radio" id="CSI" name="device" value="csi">
                    <label for="CSI">CSI</label><br>
                    </td>
                    <td>
                    <input type="radio" id="ZED" name="device" value="zed">
                    <label for="ZED">ZED</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class='btn btn-lg btn-success' type="submit" formaction="/record">Record</button>
                    </td>
                    <td>
                        <button class='btn btn-lg btn-success' type="submit" formaction="/pause">Pause</button>
                    </td>
                    <td>
                        <button class='btn btn-lg btn-danger' type="submit" formaction="/stop">Stop</button>
                    </td>
                </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
