<h2>Barcode</h2>
<div class="row mt-4">
  <div class="col-md">
    <div class="card mb-4">
      <div class="card-header">Barcode Detections</div>
      <div class="card-body">
        <div class="row" id="barcodeResults">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card mb-4">
      <div class="card-header">Camera View</div>
      <center>
        <img class="card-img-top mt-2 mb-2" style="width: 18rem;" src="/barcode/stream">
      </center>
    </div>
  </div>
</div>

<script type="text/javascript">
  var url = window.location.href;
  var arr = url.split("/");
  var websocket = "ws://" + arr[2] + "/barcode/ws";
  console.log(websocket);
  if (window.WebSocket) {
    ws = new WebSocket(websocket);
  }
  ws.onopen = function () {
    ws.send("Connection started");
    console.log("Socket open");
  };

  ws.onmessage = function (evt) {
    console.log(evt.data)
    barcodeResults.innerHTML = evt.data;
  };
</script>