<h2>Calibration</h2>
<div class="row mt-4">
  <div class="col-md">
    <div class="card mb-4">
      <div class="card-header">Intrinsic Calibration</div>
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <button id="captureButton" class="btn btn-success mr-2" onclick="captureImage()">Capture Image</button>
          </div>
        </div>
        <div class="row mt-4" id="savelocation">
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        Distance Calibration
      </div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col text-center">
            <button class="btn btn-info mr-2" onclick="captureImage('0')">0.50m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('1')">0.75m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('2')">1.00m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('3')">1.25m</button>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-info mr-2" onclick="captureImage('4')">1.50m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('5')">2.00m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('6')">2.50m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('7')">3.00m</button>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-success mt-4 mr-2" onclick="calibrateDistance()">Calibrate Distance!</button>
            <button class="btn btn-warning mt-4 mr-4"
              onclick="alert('The calibration process needs a person to stand 0.50m, 0.75m, 1.00m, 1.25m, 1.50m, 2.00m, 2.50m and 3.00m away from the forklift and capture an image at each position. Press the corresponding button above when the person is at that distance from the base of the forklift. It is the tip of the person’s foot to be at each position. The distance on the ground needs to be measured as precisely as possible with a measuring tape or other methods. The person needs to be at the center of the image and no other person should appear in the same frame.')">
              <i class="fas fa-question-circle"></i>
            </button>
          </div>
        </div>
        <div class="row mt-4" id="calibrationresults">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card mb-4">
      <div class="card-header">Camera View</div>
      <center>
        <img class="card-img-top mt-2 mb-2" style="width: 18rem;" src="/stream">
      </center>
    </div>
  </div>
  {% if zedenabled %}
  <div class="col-lg">
    <div class="card mb-4">
      <div class="card-header">ZED Depth Camera View</div>
      <center>
        <img class="card-img-top mt-2 mb-2" style="width: 18rem;" src="/zedStream">
      </center>
    </div>
  </div>
  {% endif %}
</div>

<script type="text/javascript">

  var url = window.location.href;
  var arr = url.split("/");
  var websocket = "ws://" + arr[2] + "/barcode/ws";
  console.log(websocket);
  if (window.WebSocket) {
    ws = new WebSocket(websocket);
  }
  ws.onopen = function () {
    ws.send("Connection started");
    console.log("Socket open");
  };

  ws.onmessage = function (evt) {
    console.log(evt.data);
    data = evt.data;
    var protocol = data.substring(0, 3);
    if (protocol == "CBR") {
      html = data.substring(3);
      calibrationresults.innerHTML = html;
    }
  };



  function captureImage(distance) {
    var xhr = new XMLHttpRequest();
    if (distance === undefined) {
      distance = "";
    }
    var params = "csiFilename=" + distance + "&zedFilename=" + distance;
    xhr.open("POST", "/captureImage?" + params, true);
    xhr.send(params);
    xhr.onload = function (e) {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          console.log(xhr.responseText)
          var response = JSON.parse(xhr.responseText)
          savelocation.textContent = "Images saved to: " + response.csiFilename + " " + response.zedFilename
        } else {
          console.error(xhr.statusText);
        }
      }
    };
  }

  function calibrateDistance() {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/calibrateDistance", true);
    xhr.send();
    xhr.onload = function (e) {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          console.log(xhr.responseText)
          var response = xhr.responseText;
          calibrationresults.textContent = response;
        } else {
          console.error(xhr.statusText);
        }
      }
    };
  }
</script>