<h2>Intrinsic Calibration</h2>
<div class="row mt-4">
  <div class="col-md">
    <div class="card mb-4">
      <div class="card-header">Controls</div>
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <button id="captureButton" class="btn btn-success mr-2" onclick="captureImage()">Capture Image</button>
          </div>
        </div>
        <div class="row mt-4" id="savelocation">
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">Distance Calibration</div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col text-center">
            <button class="btn btn-info mr-2" onclick="captureImage('0.50m')">0.50m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('0.75m')">0.75m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('1.00m')">1.00m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('1.25m')">1.25m</button>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-info mr-2" onclick="captureImage('1.50m')">1.50m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('2.00m')">2.00m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('2.50m')">2.50m</button>
            <button class="btn btn-info mr-2" onclick="captureImage('3.00m')">3.00m</button>
          </div>
        </div>
        <div class="row mt-4" id="savelocation">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card mb-4">
      <div class="card-header">Camera View</div>
      <center>
        <img class="card-img-top mt-2 mb-2" style="width: 18rem;" src="/stream">
      </center>
    </div>
  </div>
  {% if zedenabled %}
  <div class="col-lg">
    <div class="card mb-4">
      <div class="card-header">ZED Depth Camera View</div>
      <center>
        <img class="card-img-top mt-2 mb-2" style="width: 18rem;" src="/zedStream">
      </center>
    </div>
  </div>
  {% endif %}
</div>

<script type="text/javascript">
  function captureImage(distance) {
    var xhr = new XMLHttpRequest();
    if (distance === undefined) {
      distance = "";
    } else {
      distance = distance + "_";
    }
    var params = "csiFilename=" + distance + "&zedFilename=" + distance;
    xhr.open("POST", "/captureImage?" + params, true);
    xhr.send(params);
    xhr.onload = function (e) {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          console.log(xhr.responseText)
          var response = JSON.parse(xhr.responseText)
          savelocation.textContent = "Images saved to: " + response.csiFilename + " " + response.zedFilename
        } else {
          console.error(xhr.statusText);
        }
      }
    };
  }
</script>