<h2>Calibration</h2>
<div class="row mt-4">
  <div class="col-md">
    <div class="card mb-4">
      <div class="card-header">Intrinsic Calibration</div>
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <button id="captureButton" class="btn btn-success mr-2" onclick="captureImage()">Capture Image</button>
          </div>
        </div>
        <div class="row mt-4" id="savelocation">
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        Distance Calibration
      </div>
      <div class="card-body">
        <div class="col text-center">
          <!-- <div class="row mb-4" id="currentcalibration">
            Placeholder text.
          </div> -->
          <div class="row mb-2">
            <div class="col text-center">
              <button class="btn btn-info mr-2" onclick="captureImage('0')">0.50m</button>
              <button class="btn btn-info mr-2" onclick="captureImage('1')">0.75m</button>
              <button class="btn btn-info mr-2" onclick="captureImage('2')">1.00m</button>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col text-center">
              <button class="btn btn-info mr-2" onclick="captureImage('3')">1.25m</button>
              <button class="btn btn-info mr-2" onclick="captureImage('4')">1.50m</button>
              <button class="btn btn-info mr-2" onclick="captureImage('5')">2.00m</button>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button class="btn btn-info mr-2" onclick="captureImage('6')">2.50m</button>
              <button class="btn btn-info mr-2" onclick="captureImage('7')">3.00m</button>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col text-center">
              <button class="btn btn-success mr-2" onclick="executeAction('/calibrateDistance')">Calibrate Distance!</button>
              <button class="btn btn-danger mr-2" onclick="executeAction('/clearAll')">Clear All</button>
            </div>
          </div>
        </div>
        <div class="row mt-4 mb-2" id="calibrationresults">
        </div>
        <!-- <div class="row mt-2"> -->
          <li>Have a person stand at different distances from the forklift.</li>
          <li>Ensure the distance is correct when measured with a measuring tape.</li>
          <li>Ensure the person is in the center of the frame.</li>
          <li>Press the corresponding blue button above when the person is at that distance from the base of the forklift.</li>
          <li>Press the 'Calibrate Distance!' button once a picture is taken at each of the above distances.</li>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card mb-4">
      <div class="card-header">Camera View</div>
      <center>
        <img class="card-img-top mt-2 mb-2" style="width: 18rem;" src="/stream">
      </center>
    </div>
  </div>
  {% if zedenabled %}
  <div class="col-lg">
    <div class="card mb-4">
      <div class="card-header">ZED Depth Camera View</div>
      <center>
        <img class="card-img-top mt-2 mb-2" style="width: 18rem;" src="/zedStream">
      </center>
    </div>
  </div>
  {% endif %}
</div>

<script type="text/javascript">
  function captureImage(distance) {
    var xhr = new XMLHttpRequest();
    if (distance === undefined) {
      distance = "";
    }
    var params = "csiFilename=" + distance + "&zedFilename=" + distance;
    xhr.open("POST", "/captureImage?" + params, true);
    xhr.send(params);
    xhr.onload = function (e) {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          console.log(xhr.responseText)
          var response = JSON.parse(xhr.responseText)
          savelocation.textContent = "Images saved to: " + response.csiFilename + " " + response.zedFilename
        } else {
          console.error(xhr.statusText);
        }
      }
    };
  }

  function executeAction(url) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.send();
    xhr.onload = function (e) {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          console.log(xhr.responseText)
          var response = xhr.responseText;
          calibrationresults.textContent = response;
        } else {
          console.error(xhr.statusText);
        }
      }
    };
  }
</script>