<h2>Object Detector</h2>
<div class="row mt-4">
  <div class="col-md">
    <div class="card mb-4">
      <div class="card-header">Object Detections</div>
      <div class="card-body">
        <div class="row" id="detectionResults">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card mb-4">
      <div class="card-header">Birds Eye View</div>
      <center>
        <img class="card-img-top mt-2 mb-2" style="width: 18rem;" src="/detection/birdeyeStream">
      </center>
    </div>
  </div>
  <div class="col-lg">
    <div class="card mb-4">
      <div class="card-header">Camera View</div>
      <center>
        <img class="card-img-top mt-2 mb-2" style="width: 18rem;" src="/detection/detectionStream">
      </center>
    </div>
  </div>
</div>

<script type="text/javascript">
  var url = window.location.href;
  var arr = url.split("/");
  var websocket = "ws://" + arr[2] + "/detection/ws";
  console.log(websocket);
  if (window.WebSocket) {
    ws = new WebSocket(websocket);
  }
  ws.onopen = function () {
    ws.send("Connection started");
    console.log("Socket open");
  };

  ws.onmessage = function (evt) {
    data = evt.data;
    var protocol = data.substring(0,3);
    if (protocol == "DET") {
      html = data.substring(4)
      detectionResults.innerHTML = html;
    }
  };
</script>