<h2>Data Collection</h2>
<div class="row mt-4">
  <div class="col-md">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">Remote Control</div>
          <div class="card-body">
            <div class="row">
              <div class="col text-center">
                <!-- <div class="form-check form-check-inline text-center"> -->
                <input data-toggle="toggle" data-on="Mono" data-off="Mono" type="checkbox" data-offstyle="secondary"
                  data-onstyle="primary" name="csi" id="CSI" value=True checked>
                <!-- <input data-toggle="toggle" data-on="Mono" data-off="Mono" type="checkbox" name="csi" id="CSI" value=True checked> -->
                <!-- <label class="form-check-label" for="CSI">
                    Mono Camera
                  </label> -->
                <!-- </div> -->
                <!-- <div class="form-check form-check-inline"> -->
                <input data-toggle="toggle" data-on="ZED2" data-off="ZED2" type="checkbox" data-offstyle="secondary"
                  data-onstyle="primary" name="zed" id="ZED" value=True checked>
                <!-- <input data-toggle="toggle" data-on="ZED2" data-off="ZED2" type="checkbox" name="zed" id="ZED" value=True checked> -->
                <!-- <label class="form-check-label" for="ZED">
                    ZED Depth Camera
                  </label> -->
                <!-- </div> -->
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <div class="btn-group mt-4 " role="group">
                  <button onclick="executeAction('record')" style="width: 5rem;" class="btn btn-success mr-2"><i
                      class="fas fa-circle"></i><br>Record</button>
                  <button onclick="executeAction('stop')" style="width: 5rem;" class="btn btn-danger btn-block"><i
                      class="fas fa-stop"></i><br>Stop</button>
                </div>
                <div class="row" id="csiStatus">
                  Press the above buttons to start recording data.
                </div>
                <div class="row" id="zedStatus">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card mb-4">
      <div class="card-header">Camera View</div>
      <center>
        <img class="card-img-top mt-2 mb-2" style="width: 18rem;" src="/stream">
      </center>
    </div>
  </div>
  {% if zedenabled %}
  <div class="col-lg">
    <div class="card mb-4">
      <div class="card-header">ZED Depth Camera View</div>
      <center>
        <img class="card-img-top mt-2 mb-2" style="width: 18rem;" src="/zedStream">
      </center>
    </div>
  </div>
  {% endif %}
</div>

<script type="text/javascript">
  var statusXHR = new XMLHttpRequest();
  statusXHR.open("GET", "/camerastatus");
  statusXHR.addEventListener("load", xhrCallback);
  statusXHR.send();

  function executeAction(url) {
    var xhr = new XMLHttpRequest();
    var csiChecked = document.getElementById("CSI").checked;
    var zedChecked = document.getElementById("ZED").checked;
    var params = "/" + url + "?csi=" + csiChecked + "&zed=" + zedChecked;
    xhr.open("GET", params, true);
    xhr.addEventListener("load", xhrCallback);
    xhr.send();
  }

  function xhrCallback() {
    if (this.readyState === 4) {
      if (this.status === 200) {
        console.log(this.responseText);
        var json = JSON.parse(this.responseText);
        var csiText = json.csi;
        var zedText = json.zed;
        csiStatus.textContent = csiText;
        zedStatus.textContent = zedText;
      } else {
        console.error(this.statusText);
      }
    }
  }
</script>